*,html{
    margin: 0;
    padding: 0;
}
.head{
    background-color: #062855;
    text-align: center;
    color: white;
    padding: 1%;
}

.mainbg{
    background-color: rgb(255, 204, 255);
    height: 480px;
}